__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*_old/
include/
bin/
lib/
local/
.pytest_cache/
.vscode/
.git/
.gitignore
*.log
*.txt
live_trader_state.json
ai/models/backup_*
ai/models/eski/
.env
