__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
include/
bin/
lib/
local/
.pytest_cache/
.vscode/
.git/
.gitignore
*.log
live_trader_state.json
ai/models/backup_*
ai/models/eski/
C:\Users\Home\.gemini\*
.env
